<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="throttling" type="ThrottlingSuite.Core.ThrottlingConfigurationHandler, ThrottlingSuite.Http" />
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>

    <runtime>
        <gcServer enabled="true" />
    </runtime>

    <throttling enabled="true" logOnly="false" resourcesCleanupInterval="300000" enableClientTracking="false">
        <ignoreParameters>
            <add name="rsid" />
        </ignoreParameters>
        <instances>
            <!--method:ShortAverage/LongAverage/Linear-->
            <instance name="controller-API" timeIntervalMsec="1000" maxThreshold="250" method="Linear">
                <add path="process" />
            </instance>
        </instances>
        <requestSignatureBuilder type="ThrottlingSuite.Core.DefaultRequestSignatureBuilder, ThrottlingSuite.Http"
                                 ignoreClientIp="true" useInstanceUrl="true" ignoreAllQueryStringParameters="true" />
    </throttling>
</configuration>